<a href="https://colab.research.google.com/github/bob8dod/Sejong_Hackathon/blob/main/%EC%97%B0%EC%86%8D%EB%90%9C_date_%EA%B2%80%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/content/003490.csv')
data.columns = ['index','Date']
data

     index        Date
0       30  2011-10-18
1       31  2011-10-19
2       32  2011-10-20
3       33  2011-10-21
4       34  2011-10-24
..     ...         ...
205   2269  2020-11-19
206   2270  2020-11-20
207   2274  2020-11-26
208   2275  2020-11-27
209   2313  2021-01-25

[210 rows x 2 columns]

In [6]:
def make_continuous_date(path_csv):
    data = pd.read_csv(path_csv)
    data.columns = ['index', 'Date']
    date = []
    test = data.loc[1, 'index'] - data.loc[0, 'index']
    while test != 1:
        data = data.drop([0]).reset_index(drop=True)
        test = data.loc[1, 'index'] - data.loc[0, 'index']
    for i in range(len(data)):
        if i - 1 < 0:
            flag = 0
            continue
        prev_idx = data.loc[i - 1, 'index']
        prev_date = data.loc[i - 1, 'Date']
        cur_idx = data.loc[i, 'index']
        cur_date = data.loc[i, 'Date']
        if cur_idx - prev_idx == 1:
            if flag == 0:
                start = prev_idx
                date.append(prev_date)
                flag = 1
            if i == len(data) - 1:
                date.append(cur_date)
        else:
            if start == 0:
                continue
            date.append(prev_date)
            start = 0
            flag = 0
    result = []
    for i in range(0, len(date), 2):
        result.append([date[i], date[i + 1]])

    return result

In [8]:
import re

def make_date(ll):
    text = ''
    for l in ll:
        text += re.sub('-','.',l)
        text += ' '

    return text.strip()

'2021.01.08 2021.01.13'

In [11]:
list(map(make_date,make_continuous_date('/content/003490.csv')))

['2011.10.18 2011.10.25',
 '2011.10.28 2011.11.01',
 '2011.11.23 2011.11.24',
 '2012.01.30 2012.02.22',
 '2012.04.26 2012.05.02',
 '2013.04.17 2013.04.24',
 '2013.09.23 2013.10.07',
 '2014.12.09 2014.12.22',
 '2015.04.07 2015.04.10',
 '2015.05.07 2015.05.21',
 '2015.06.02 2015.06.08',
 '2015.06.16 2015.06.19',
 '2015.08.24 2015.08.26',
 '2018.11.19 2018.11.22',
 '2020.04.14 2020.05.11',
 '2020.05.21 2020.06.12',
 '2020.07.17 2020.11.02',
 '2020.11.10 2020.11.20',
 '2020.11.26 2020.11.27']